* {
  margin: 0;
  padding: 0;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}

.nav {
  width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.logo {
  position: relative;
  left: -20rem;
  bottom: -2rem;
  height: 3rem;
}
.logo-1 {
  position: relative;
  left: -20rem;
  bottom: -3rem;
  font-weight: 600;
}
a {
  margin: 3rem 0.3rem;
  text-decoration: none;
  color: #666666;
  position: relative;
  opacity: 0.8;
}
a:hover{
  opacity: 1;
}

a:hover::after {
  content: " ";
  border-bottom: 2px solid #666666;
  position: absolute;
  left: 0rem;
  bottom: -0.1rem;
  opacity: 1;
  transition: 0.9s ease-in-out;
  width: 2rem;
}

.triangulo {
  margin-top: 3rem;
  cursor: pointer;
}

.btn-get {
  position: relative;
  right: -10rem;
  bottom: -2.5rem;
  width: 10rem;
  height: 2rem;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #3952b6;
}

.btn-get:hover {
  opacity: 1;
  animation: boton 1s ease-in-out;
  transition: all transfom 4s ease-in-out;
  cursor: pointer;
  color: white;
}

@keyframes boton {
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
.giro{
  display: flex;
  flex-wrap: wrap;
}
.caja-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
width: 50%;
margin-top: 5rem;
}

.titulo-1 {
  font-size: 3.5rem;
  margin-left: 4.5rem;
  font-weight: 540;
}
.parrafo-1 {
  margin: 2rem 4.5rem;
  line-height: 2rem;
  color: #a7a3a3;
}
.input-1 {
  width: 20rem;
  border: none;
  margin: 2rem 6.5rem;
  opacity: 0.5;
  
  
}
.input-1:hover{
  opacity: 1;
  cursor: pointer;
  }

.search{ 
  position: relative;
  top: -3em;
  left: 4.5rem;
  opacity: 0.5;
}
.search:hover{
  cursor: pointer;
  opacity: 1;
}

.img-1{
  width: 75%;
  margin-top: 4rem;
}
.btn-search {
  width: 8rem;
  height: 3rem;
  border-radius: 25px;
  color: white;
  background-color: #3952b6;
  border: none;
  position: relative;
  left: 36rem;
  top: -5.5rem;
}
.btn-search:hover {
  opacity: 1;
  animation: boton 1s ease-in-out;
  transition: all transfom 4s ease-in-out;
  cursor: pointer;
  color: white;
}

@keyframes boton {
  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
  }
}
.caja-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 85%;
}


.titulo-2 {
  font-size: 2.5rem;
}
.subtitulo{
  color: #a7a3a3;
  font-size: medium;
  font-weight: 400;
}

.indo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9rem;
  justify-content: space-between;
}
.indo_tit{
  margin-left: 4.5rem;
  font-size: 3rem;
}

.indo_p{
  color: #a7a3a3;
  width: 28rem;
  margin-right: 22rem;
  line-height: 2rem;
}

.indo_img{
   display: flex;
    justify-content:space-evenly;
    width: 88%;
    margin-top: 5rem;

}
.img_precio{
  width: 21%;
  
}
.img_precio:hover{
  opacity: 0.6;
  cursor: pointer;
}

.house{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   margin: 0 13rem 0rem 0rem;
 
  
}
.map-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 1.5rem;
  position: relative;
  right: 17rem;
}
.ataz {
  position: relative;
  right: 4rem;
}
.qiri {
  position: relative;
  right: 3rem;
}
.qanan {
  position: relative;
  right: 1.5rem;
}
.tina{
  position: relative;
  left: 1rem;
}

.map{
  margin-left: 8rem;
}

.street{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: relative;
  right: 6rem; 
  top: -1.2rem;
  color: #a7a3a3;
  
}
.street-1:hover{
  cursor: pointer;
  color: black;
}